@import '../styles/tokens.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: var(--font-inter), system-ui, sans-serif;
}
