:root {
  --color-brand-50: 240 238 232;
  --color-brand-100: 227 224 217;
  --color-brand-500: 30 30 30;
  --color-brand-700: 18 18 18;
  --color-surface-0: 241 237 233;
  --color-surface-50: 232 228 223;
  --color-surface-100: 217 212 206;
  --color-text-primary: 29 27 24;
  --color-text-secondary: 114 110 105;
  --font-inter: 'Inter';
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-surface-0: 23 21 19;
    --color-surface-50: 32 30 28;
    --color-surface-100: 47 44 41;
    --color-text-primary: 244 241 236;
    --color-text-secondary: 171 165 158;
  }
}

:root[data-theme='dark'] {
  --color-surface-0: 23 21 19;
  --color-surface-50: 32 30 28;
  --color-surface-100: 47 44 41;
  --color-text-primary: 244 241 236;
  --color-text-secondary: 171 165 158;
}
