:root {
  --color-brand-50: 237 233 254;
  --color-brand-100: 221 214 254;
  --color-brand-500: 124 58 237;
  --color-brand-700: 91 33 182;
  --color-surface-0: 250 250 251;
  --color-surface-50: 244 244 245;
  --color-surface-100: 228 228 231;
  --color-text-primary: 24 24 27;
  --color-text-secondary: 82 82 91;
  --font-inter: 'Inter';
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-surface-0: 12 10 18;
    --color-surface-50: 24 24 31;
    --color-surface-100: 39 39 47;
    --color-text-primary: 244 244 245;
    --color-text-secondary: 161 161 170;
  }
}

:root[data-theme='dark'] {
  --color-surface-0: 12 10 18;
  --color-surface-50: 24 24 31;
  --color-surface-100: 39 39 47;
  --color-text-primary: 244 244 245;
  --color-text-secondary: 161 161 170;
}
